 <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
    <script>
      $(document).ready(function(){

      	$('title').replaceWith('<title>Editar Usuario</title>');

        var user,userId;
        $("#submit").click(function(){
          user=$("#user").val();
          userId=$("#userId").val();
          
          $.ajax({
              url: "http://localhost:3000/users/",
              type: 'PUT',
              data: {nombre:user, codigo: userId},
              success: function(result) {
              alert("Usuario Actualizado");
            }
          });
        
        });
      });
    </script>
    <h1>Editar Usuario</h1>
    <input type="text" id="user" placeholder="Nombre Nuevo">
    <input type="text" id="userId" placeholder="Codigo">
    <input type="button" id="submit" value="Aceptar">